* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #fff;
}

.container {
	width: 95%;
	max-width: 1000px;
	margin: 60px auto;
}

.profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-picture__container {
	width: 156px;
	height: 156px;
	border-radius: 20px;
}

.profile-picture__img {
	width: 100%;
	border-radius: 1em;
	vertical-align: top;
}

.profile-info {
	text-align: center;
	margin: 16px 0;
}

.profile-info__name {
	font-size: 24px;
	margin-bottom: 8px;
}

.profile-info__location {
	font-size: 14px;
	font-weight: 600;
	color: #a9a9a9;
}

.profile-stats {
	display: flex;
	width: 358px;
	justify-content: space-between;
	margin-top: 8px;
}

.profile-stat {
	background: #e5e5e5;
	width: 100px;
	height: 67px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

.profile-stat__number {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.profile-stat__text {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: #bdbdbd;
}

.gallery {
	width: 100%;
	margin: 60px 0;
	display: grid;
	grid-template-areas:
		'gallery-photo-1 gallery-photo-2 gallery-photo-2'
		'gallery-photo-3 gallery-photo-3 gallery-photo-4'
		'gallery-photo-5 gallery-photo-6 gallery-photo-4';
	gap: 32px;
}

.gallery-item img {
	width: 100%;
	border-radius: 12px;
	filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.gallery-photo-1 {
	grid-area: gallery-photo-1;
}

.gallery-photo-2 {
	grid-area: gallery-photo-2;
}

.gallery-photo-3 {
	grid-area: gallery-photo-3;
}

.gallery-photo-4 {
	grid-area: gallery-photo-4;
}

.gallery-photo-5 {
	grid-area: gallery-photo-5;
}

.gallery-photo-6 {
	grid-area: gallery-photo-6;
	width: 100%;
	height: 100%;
}

.footer {
	margin-bottom: 58px;
}

.footer__info {
	text-align: center;
	font-size: 14px;
	color: #a9a9a9;
	font-weight: bold;
	display: block;
}

.footer__info__a {
	text-decoration: none;
	color: unset;
}

@media screen and (max-width: 768px) {
	.container {
		margin: 30px auto;
	}
	.profile-picture__container {
		width: 100px;
		height: 100px;
		border-radius: 16px;
	}

	.profile-info__name {
		font-size: 14px;
	}

	.profile-info__location {
		font-size: 10px;
	}

	.profile-stats {
		width: 260px;
	}

	.profile-stat {
		width: 78px;
		height: 52px;
	}

	.profile-stat__number {
		font-size: 12px;
	}

	.profile-stat__text {
		font-size: 12px;
	}

	.gallery {
		margin: 40px 0;
		gap: 10px;
	}
}
